<div class="contnair">
  <div>
    <hr />
    <h2 class="text-center "><strong>L</strong>istes Employees</h2>
    <hr />
  </div>

  <div class="container">
    <label><strong>Le Nom :</strong> </label>
    <ul
      class="list-group"
      class="list-unstyled"
      *ngFor="let i of listEmp"
      (click)="onclick(i)"
    >
      <li
        class="text-justfied"
        class="list-group-item"
        style=" cursor: pointer; "
      >
        {{ i.name }}
      </li>
    </ul>
  </div>
  <hr />
  <h6 class="text-center">
    <kbd>Cliquer sur le nom pour d'autre details...</kbd>
  </h6>
  <router-outlet></router-outlet>
</div>
